.images-wrap {
  padding-top: 60px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;

  .heading {
    display: flex;

    .tab {
      position: relative;
      display: inline-block;
      padding: 15px 15px 25px;
      border: 1px solid transparent;
      border-bottom: 0;
      cursor: pointer;
      font-weight: 600;

      h2 {
        font-weight: 400;
        font-size: 1rem;
      }
    }

    .active {
      border-color: #ccc;
      border-bottom: 1px solid #fff;
      margin-bottom: -1px;
      background-color: #fff;
    }
  }

  .add {
    float: right;
    .plus {
      font-size: 30px;
      color: #222d5a;
    }
  }

  section {
    margin-top: 60px;

    ul {
      display: none;

      a {
        display: inline;

        li {
          display: inline-flex;
          width: 48%;
          flex-direction: column;
          margin: 1%;
          overflow: hidden;

          .img-wraper {
            position: relative;
            padding-top: 56.25%;
            overflow: hidden;

            .img-center {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              -webkit-transform: translate(50%, 50%);
              -ms-transform: translate(50%, 50%);
              transform: translate(50%, 50%);

              img {
                position: absolute;
                top: 0;
                left: 0;
                max-width: 100%;
                height: auto;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
              }
            }
          }
        }
      }
    }
    .active-image {
      display: block;
    }
  }
}

.modal {
  position: absolute;
  top: 300px;
  left: 30%;
  right: 30%;
  bottom: 300px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  .close {
    float: right;
    font-size: 30px;
  }

  #image_form {
    margin-top: 40px;

    .radio-group {
      border: solid 1px red;
      display: inline-block;
      margin: 20px;
      border-radius: 10px;
      overflow: hidden;
    }

    label[for='category'] {
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 4px;
      margin-right: 10px;
    }

    label[for='title'],
    label[for='images'] {
      display: block;
      width: 80%;
      margin: 0 auto;

      &:after {
        content: '*';
        color: red;
        margin-left: 2px;
      }
    }

    .radio {
      width: 80%;
      display: block;
      margin: 0 auto 20px;
    }

    input[type='text'],
    input[type='file'] {
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      box-sizing: border-box;
      font-size: 1rem;
      width: 80%;
      border: solid 1px #ccc;
      padding: 5px 0 5px 5px;
      margin: 0 auto 15px;
    }

    input[type='submit'] {
      float: right;
      background-color: #222d5a;
      color: white;
      margin: 30px 20px 20px 20px;
      padding: 8px 16px;
      text-align: center;
      font-size: 18px;
      cursor: pointer;
    }

    .error {
      color: red;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .images-wrap {
    section {
      ul {
        display: none;
        a {
          li {
            display: inline-flex;
            width: 99%;
            flex-direction: column;
            margin: 1%;
          }
        }
      }
    }
  }
}
