.container {
  min-height: 72vh;

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 60px;
    background-color: #222d5a;
  }
  .wraper {
    padding-top: 60px;
    width: 80%;
    margin: 0 auto;

    img {
      width: 50%;
      transform: translateX(50%);
    }

    .slick-prev,
    .slick-next {
      &:before {
        color: #888;
      }
    }

    .slick-dots {
      bottom: 0;
    }

    .list {
      a {
        background-color: #222d5a;
        color: white;
        margin: 20px 0;
        padding: 15px 32px;
        text-align: center;
        font-size: 18px;
      }
    }

    .edit,
    .remove {
      float: right;
      background-color: #222d5a;
      color: white;
      margin: 20px 0;
      padding: 15px 32px;
      text-align: center;
      font-size: 18px;
      margin-right: 5px;
    }
  }
}

.modal {
  position: absolute;
  top: 300px;
  left: 30%;
  right: 30%;
  bottom: 280px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  .close {
    float: right;
    font-size: 26px;
    font-weight: 100;
  }

  #imageForm {
    margin-top: 40px;

    .radio {
      width: 80%;
      display: block;
      margin: 0 auto 20px;

      label[for='category'] {
        box-sizing: border-box;
        display: inline-block;
        text-align: center;
        border: 1px solid #ccc;
        padding: 2%;
        width: 33.333%;
        border-radius: 2px;
      }
    }

    label[for='title'],
    label[for='images'] {
      display: block;
      width: 80%;
      margin: 0 auto;

      &:after {
        content: '*';
        color: red;
        margin-left: 2px;
      }
    }

    input[type='text'],
    input[type='file'] {
      display: block;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0;
      box-sizing: border-box;
      font-size: 1rem;
      width: 80%;
      border: solid 1px #ccc;
      border-radius: 2px;
      padding: 5px 0 5px 5px;
      margin: 0 auto 15px;
    }

    input[type='submit'] {
      float: right;
      background-color: #222d5a;
      color: white;
      margin: 10px 20px 20px 20px;
      padding: 8px 16px;
      text-align: center;
      font-size: 18px;
      border-radius: 2px;
      cursor: pointer;
    }

    .error {
      color: red;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    .wraper {
      img {
        width: 100%;
        transform: translateX(0);
      }

      .list {
        a {
          padding: 10px 20px;
        }
      }

      .edit,
      .remove {
        padding: 10px 20px;
      }
    }
  }

  .modal {
    top: 25%;
    left: 10px;
    right: 10px;
    bottom: 20%;
    padding: 10px;
    max-height: 54vh;
  }
}
