.image-wrap {
  padding-top: 60px;
  width: 80%;
  margin: 0 auto;

  .slick-slide {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
  }

  .slick-prev,
  .slick-next {
    &:before {
      color: #888;
    }
  }

  .slick-dots {
    bottom: 0;
  }

  .list {
    a {
      background-color: #222d5a;
      color: white;
      margin: 20px 0;
      padding: 15px 32px;
      text-align: center;
      font-size: 18px;
    }
  }

  .remove {
    float: right;
    background-color: #222d5a;
    color: white;
    margin: 20px 0;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .image-wrap {
  }
}
