.memorialHistory-wrap {
  padding-top: 60px;

  .memorialHistory-group {
    width: 64%;
    margin: 0 auto;
    li {
      display: flex;
      align-items: center;
      margin: 60px 0;
      min-height: 400px;

      img {
        width: 200px;
        margin-right: 60px;
      }

      h3 {
        font-size: 36px;
        line-height: 1.2;
        font-weight: normal;
        margin-bottom: 10px;
        color: #222d5a;
      }
      p,
      span {
        display: block;
      }

      span {
        text-indent: 5px;
        padding-bottom: 5px;
      }

      &:nth-child(even) {
        -webkit-flex-direction: row-revers;
        flex-direction: row-reverse;

        img {
          margin-right: 0;
          margin-left: 60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .memorialHistory-wrap {
    .memorialHistory-article {
      padding: 60px 0;
      -webkit-flex-direction: column;
      flex-direction: column;
      align-items: center;
      .memorialHistory-subtitle,
      .memorialHistory-subdescription {
        width: 100%;
      }

      .memorialHistory-subtitle {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 30px;
      }

      .memorialHistory-subdescription {
        font-size: 0.9rem;
        line-height: 1;
        letter-spacing: 0;
      }
    }

    .memorialHistory-group {
      width: 96%;
      li {
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 60px 0;

        img {
          width: 200px;
          margin-right: 0;
        }

        h3 {
          font-size: 36px;
          line-height: 1.2;
          font-weight: normal;
          margin-bottom: 10px;
          color: #222d5a;
          text-align: center;
        }
        p,
        span {
          display: block;
        }

        span {
          text-indent: 0px;
          padding-bottom: 2px;
        }

        &:nth-child(even) {
          -webkit-flex-direction: column;
          flex-direction: column;

          img {
            margin-left: 0;
          }
        }
      }
    }
  }
}
