.video-wrap {
  padding-top: 60px;
  // background-color: pink;
  width: 80%;
  margin: 0 auto;

  .heading {
    display: flex;

    .tab {
      border: 1px solid #cccccc;
      border-bottom: 1px solid #ffffff;
      padding: 5px 10px;
      border-radius: 3px 3px 0 0;
      h2 {
        font-weight: 400;
      }
    }

    .active {
      color: #ffffff;
      background-color: #222d5a;
    }
  }

  section {
    ul {
      display: none;
      li {
        display: inline-flex;
        width: 30%;
        flex-direction: column;
        margin: 1%;
      }
    }
    .active-video {
      display: block;
    }
  }
}
/* 공지사항 및 자료실 */

@media only screen and (max-width: 768px) {
  .video-wrap {
  }
}
